.article {
  height: 100%;
  width: 100%;
  padding-left: calc(10vw + 50px);
  padding-right: 10vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;

  &__button {
    margin-top: 2vh;
  }
  &__title {
    margin-top: 2vh;

    &__articletitle {
      font-family: $secondaryFont;
      color: $primaryBlack;
      font-size: 3rem;
      letter-spacing: 0.5px;
    }
  }

  &__desc {
    &__articledesc {
      font-family: $secondaryFont;
      color: $primaryBlack;
      font-size: 1.6rem;
      font-weight: 300;
      letter-spacing: 0.5px;
    }
  }

  &__image {
    width: 100%;
    position: relative;

    &__articleimage {
      height: 40vh;
      width: 100%;
      object-fit: cover;
    }
  }

  &__text {
    &__articletext {
      font-family: $secondaryFont;
      width: 100%;
      text-align: left;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: justify;
      font-weight: 300;
      line-height: 1.3;
      backdrop-filter: blur(5px);
    }
  }
}
