.bookmarks {
    padding : 3vh 0 0 50px;
    &__return {
        margin-left: 2vw;
        width: 100px;
    }
    &__title {
        font-family: 'Ubuntu Mono';
        font-size: 3rem;
        margin: 3vh 0 5vh 2vw;
        @media screen and (max-width: 800px) {
            text-align: center;
            width: 100%;
        }
    }
    &__count {
        font-family: $primaryFont;
        font-size: 1.8rem;
        color: $secondaryColor5;
        margin-left: 2vw;
        @media screen and (max-width: 800px) {
            text-align: center;
            width: 100%;
        }
    }
    &__list {
        padding: 50px 75px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
        @media screen and (max-width: 800px) {
            justify-content: center;
        }
    }
}