.completionchart {
  display: flex;
  height: 64px;
  width: 64px;
  min-width: 60px;
  border-radius: 30px;
  text-align: center;
  line-height: 60px;
  font-weight: 600;
  font-family: $primaryFont;
}
