.home {
  padding : 3vh 0 3vh 50px;
  h1 {
    font-family: 'Ubuntu Mono';
    font-size: 3rem;
    margin: 0 0 3vh 2vw;
  }

  h2 {
    font-family: 'Ubuntu Mono';
    font-size: 2rem;
    margin: 0 0 3vh 2vw;
  }

  &__button {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 7px;
    @media screen and (max-width: 800px) {
      flex-direction: column;
  }
  }
}
