.levelBar {
  font-family: $primaryFont;
  justify-content: center;
  text-align: center;
  align-self: center;
  margin: auto;
  height: 30px;
  width: 97%;
  border-radius: 20px;
  background-color: $primaryColor4;
  font-size: 28px;

  &__xp {
    height: 28px;
    border-radius: 20px;
    width: 75%;
    box-shadow: 0px 3px 10px rgb(80, 80, 80);

    background: linear-gradient(
      to bottom,
      $primaryColor6,
      $secondaryColor4 20%,
      $primaryColor6 50%
    );
  }

  transition: 2s;
  transition-duration: 2s;
}
