.loginSignup {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    @media screen and (max-width: 1000px) {
        align-items: center;
    }
    @media screen and (max-width: 800px) {
        justify-content: center;
        align-items: center;
    }
}