.packageitem {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-top: 8vh;
  margin-bottom: 8vh;
  margin-left: 2vw;

  &__container {
    display: flex;
    justify-content: flex-start;
    &__title {
      width: 100%;
      align-items: center;
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      gap: 15px;
      margin-left: 20px;
      margin-right: 250px;

      &__main {
        font-family: $primaryFont;
        font-size: 2rem;
        text-align: justify;

        span {
          font-size: 1rem;
        }
      }
    }
  }
  &__taglist {
    margin-left: 75px;
  }
}
