.packagelist {
 margin: 8vh 0 0 0;
    
 &__title {
    color : $primaryColor2 ;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
    @media screen and (max-width: 800px) {
        justify-content: center;
    }

    h2 {
        margin: 0 0 0 2vw;
        @media screen and (max-width: 800px) {
            font-size: 2.5rem;
            text-align: center;
            margin: 0 0 0 0vw;
        }
    }

    &__line {
        background-color: $primaryColor2 ;
        height: 1px;
        width: 50vw;
        @media screen and (max-width: 800px) {
            display: none;
        }
    }
 }
}