.tagitemarticle {
  height: 20px;
  line-height: 20px;
  width: auto;
  background-color: $secondaryColor4;
  color: $primaryColor2;
  border: 1px $primaryColor2 solid;
  border-radius: 100px;
  padding: 0 16px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  font-family: $secondaryFont;
  font-weight: normal;
}
