.taglist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    overflow: auto;
    height: 22px;
    @media screen and (max-width: 800px) {
        justify-content: center;
        height: 50px;
      }
}