// primary colors
 $primaryColor1: #a2a2d0; $primaryColor2: #6a8eae; $primaryColor3: #8d9ec6; $primaryColor4: #b4bbca;  
// secondary colors 
 $secondaryColor1: #a6a6f3; $secondaryColor2: #c0c0f0; $secondaryColor3: #d6d6ff; $secondaryColor4: #F7FCFB; 
// fonts 
$primaryFont: 'Ubuntu Mono';

